.re{
    float: inline-end;
}
.navbar{
    background-color: #3e5cb2;
    display :flex;
}
.control {
   
    box-shadow: 4px 6px 10px rgb(42, 130, 218);
    background: linear-gradient(-80deg,#2a4964, rgba(0, 26, 255, 0.212));
    


    text-align: center;
    line-height: 57px;
}
.card{
    background-color: none;
}
.syn{
    color: aqua;
}
#sidebarCollapse {
    width: 40px;
    height: 40px;
   
}

#sidebarCollapse  {
  
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}
#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}
.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 150px;
    z-index: 10;
    
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
 
    transition: all 0.9s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: right right;
    /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
    /* Rotate sidebar vertically by 100 degrees. */
}
@media (max-width: 768px) {

    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }

    #sidebar.active {
        margin-left: 0;
        transform: none;
        background-color: rgba(161, 150, 150, 0.863);
        overflow-y: scroll;
    }

    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }

    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }

    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }

    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}
#homeSubmenu li{
    text-align: center;

}
.list:hover {
    color:rgb(0, 255, 242)

}

.f{
    font-size: xx-large;
}
.antlink{
    text-decoration: none;
}

#sidebar{
   
    background-color: rgba(243, 243, 243, 0.819);
 
    overflow-y: scroll;
    
}
.nav-link:hover{
   color: aquamarine;
}
tr:hover{
background: #a1c210bb;
}
.hide{
    display: none;
}
/* ::-webkit-file-upload-button {
    background: rgb(48, 76, 78);
    color: rgb(255, 255, 255);
    padding: 1em;
    border-radius: 5px;
} */
.deletebadge{
    font-size: 17px;
}
.deletebadge :hover{
font-size: 22px;
color: greenyellow;
}
.navimg{
   width: 30px;
}

.rightcircle{
    position: absolute;
}
.profile{
    display: none;
}
.scroll{
    
    
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.opend{

    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
.closed{
display: none;
    opacity: 0;
        transition: visibility 0s linear 300ms, opacity 300ms;
        
}

   